extends layout
block content
    .image(style='margin-top: 25px;')
      img(border='0', src='/img/QalculatorGuy.jpg', alt='Calculator', width='500', height='300')
    .login(style='margin-top: 25px;')
      .row
        .span4.offset4
          .well
            legend Sign In to Qalculator
            form(method='POST', action='/login', accept-charset='UTF-8')
              input.span3(placeholder='username', type='text', name='username')
              input.span3(placeholder='password', type='password', name='password')
              label.checkbox
                input(type='checkbox', name='remember', value='1')
                | Remember Me
              input.btn-primary.btn(type="submit",value="Log In") Sign In
            a(href='/users')  Not a Member?, Click here to Sign up 
    .container
      .row-fluid
        .span12
          .span8
            a(href='#') Terms of Service
            a(href='#') Privacy
            a(href='#') Security
          .span4
            p.muted.pull-right © 2013 Qalculator App. All rights reserved
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
